

.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight:normal;
  font-style: normal;
}

}
.head{
    width: 114px;
    font-size:larger;
    margin-left: 150px;
}
.button{
    padding: 5px 25px;
    color: #0D1321;
    margin-right: 166px;
    border-radius: 8px;
    background-color: none;
    
}
.pic{
   margin: 0px 378px 0px 378px;
   width: 240.28px;
   height: 240px;
   text-align: center;
  
}
.about-future{
    font-size: larger;
    color: #0D1321;
    padding: 32px 221px 24px 221px;
    text-align: center;
   
}
.banner{
  
    /*margin: 26px 221px 44px;*/
   width: 998px;
    height: 582px;
    max-width: 1140px;
   margin: 0px auto;
   background-image:url('../assets/Hero-bg.png') ;
    
}
    
    
.description{
    padding: 24px 73px 0px;
}
.main{
    max-width: 1140px;
    margin: 0 auto;
    border-radius: 16px;
}
.why-wb{
    
    margin: 80px 97px;
}

.mar{
    margin:24px 47px 0;
}
.learn{
    padding: 12px 20px;
}
.coding{
    display: flex;
    justify-content:space-between;
    margin: 58px 98px 58px 48px;

}
.cd{
    padding-right: 100px;
}
.will{
    padding-right: 200px;
}
.help{
    display: flex;
}
.day{
    margin: 10px 101px 10px 32px;
}
.by-day{
    margin: 16px 0 32px;
}
.world{
    padding-right: 80px;
}
.wwd{
    margin-bottom: 24px;
    text-align: center;
    font-size: larger;
    color: #0D1321;
}
.Inspiration{
    margin: 24px 163px 0;
    text-align: center;
}
.video-container{
    text-align: center;
    border-radius: 16px;
    margin: 32px;
}
.video-container{
    text-align: center;
    width: 1076px;
    
}
.skill-container{
    display: flex;
    gap:0;
    
   
    
}
.gap{
    margin-top: 100px;
}
.hyper{
    margin-right: 20px;
}
.image{
    padding: 40px 228px 0 0px;
}
.title-style{
    display: flex;
    margin-top: 5px;
    
    
}
.skill{
 padding: 40px;

} 
.need{
    text-align: center;
    margin: 64px 205px 31px;

}
.footer{
    max-width: 1440px;
    margin: 0 auto;
}
.input{
    padding: 19px 215px 19px 20px;
    border-radius: 8px;
    color: #0D1321;
    background-color:white ;
}
.submit{
    padding: 17px 20px;
    color: #0D1321;
    background-color:white
}
.form {
    text-align: center;
    margin:31px 228px 58px 230px;
}
.background-img{
    background-image: url('../assets/handshake.jpg');
    border-radius: 16px;
    width:1140px ;
    height: 450px;
    margin: 0 170px 0 100px;
    padding:64px 48px 64px 48px;
    justify-content: center;
   
}
.f-head{
   color: #ffffff;
    font-size: large;
}
.prb{
    color: #ffffff;
    font-size:;
}
.icon{
    display: flex;
    justify-content: space-between;
    margin-top: 79px;
}